* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lang_list {
    vertical-align: middle;
}

.lang_list li {
    padding-bottom: 3px;
    list-style: none;
    text-decoration: none;

}

.lang {
    font-family: Tourney, sans-serif;
    font-size: 22px;
    line-height: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.nav {
    color: #000000;
    margin: 0;
    padding-left: 50px;
    flex-grow: 1;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.nav_item {
    font-family: Staatliches, sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 3%;
    cursor: pointer;
}

.logo_img {
    width: 238px;
    height: 50px;
    position: relative;
}

.logo_img-triangle {
    position: absolute;
    top: -4px;
    right: 30px;
}

/* main */

.main {
    padding-top: 70px;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

.section {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section_title {
    height: 48px;
    display: flex;
    gap: 10px;
}

.title {
    font-family: Francois One, sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 4%;
    line-height: 48px;
    color: #000000;
    text-transform: uppercase;
}

.subtitle {
    font-family: Farro, sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 4%;
    color: #000000;
}

.text {
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}

span {
    background-color: #0000002f;
}
